[submodule "TEXT/src/vendor/GLFW"]
	path = TEXT/src/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "TEXT/src/vendor/IconFontCPPHeaders"]
	path = TEXT/src/vendor/IconFontCPPHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "TEXT/src/vendor/ImGuiColorTextEdit"]
	path = TEXT/src/vendor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
